<div class="timezone-group__time clickable" {{action 'toggleTimeFormat'}}>
  {{time}}
</div>

<div class="timezone-group__timezone">{{timezone}}</div>

{{#each sortedUsers as |user|}}
  {{user-profile user=user}}
{{/each}}
