<!-- FIXME: users should be grouped by timezone (asc) -->
<!-- FIXME: timezone should be displayed -->
<!-- FIXME: current time should be displayed -->
<!-- FIXME: item should be a component -->
{{#each column.users as |user|}}
  <div class="timezone-column__item">
    <div><img src={{user.image192}} width="96" height="96"></div>
    <div>{{user.realName}}</div>
    <div>{{user.tz}}</div>
    <div>{{user.timezone}}</div>
  </div>
{{/each}}
