<div class="user-profile__avatar">
  <img src={{user.image192}} width="96" height="96" alt="">
</div>
<div class="user-profile__username">
  {{user.name}}
</div>
<div class="user-profile__realname">
  {{user.realName}}
</div>
