$nav-height: 50px
$nav-line-height: 20px
$nav-spacing: ($nav-height - $nav-line-height) / 2
$nav-control-height: 30px
$nav-control-spacing: ($nav-height - $nav-control-height) / 2

.nav
  overflow: hidden
  background: #ddd
  background: linear-gradient(to bottom, #eee 90%, #e9e9e9 100%)
  height: $nav-height
  margin: 0 0 $gutter 0
  &--expanded
    height: auto

.navbar
  margin: 0
  padding: 0
  list-style: none

  &--left
    float: left

  &--right
    float: right
    @media screen and (max-width: 500px)
      &
        display: none

  &--toggle
    float: right
    display: none
    button
    @media screen and (max-width: 500px)
      &
        display: block

    button:before
      content: '\2630'

  @media screen and (max-width: 500px)
    &--secondary
      clear: both
      float: left
      display: block

  & &__brand
    font-weight: bold
    font-size: 1.2em

    $clock-size: 32px
    a
      padding-left: $clock-size + $gutter * 2
      background-image: url(/assets/clock.svg)
      background-repeat: no-repeat
      background-position: $gutter 50%
      background-size: 32px

  li
    display: block
    float: left

  a, button
    background-color: transparent
    border: none
    border-radius: 0
    color: $foreground
    display: block
    line-height: $nav-line-height
    padding: $nav-spacing
    text-decoration: none
    transition-property: background-color
    transition-duration: 150ms

    &:focus, &:hover
      outline: 0
      background-color: rgba(255, 255, 255, 0.5)

  input
    margin: $nav-control-spacing $spacing
    height: $nav-control-height
