body
  font-size: $base-font-size
  line-height: $line-height
  font-family: 'Source Sans Pro', sans-serif
  background: $background
  color: $foreground
  min-width: 700px

h1
  font-size: 2.3em
  text-align: center

h2
  font-size: 1.1em
