<div class="text-content">
  <h1>Working in a distributed team is awesome. Time zones are awful.</h1>

  <p>This app helps you work out what time it is for everyone on your team. Just {{#link-to 'login'}}sign in with Slack{{/link-to}} to sync up your team, and see what time it is for all your coworkers.</p>

  <div class="text-content text-content--cta">
    {{#link-to 'index' class='button button--success button--cta'}}
      Show me my team!
    {{/link-to}}
  </div>

  <h2>What do you do with my data?</h2>

  <p>Your privacy is important to us. We don't want to have access to your data.</p>

  <p>We load your data from Slack directly into this app, in your browser. The only data that goes via our server is your Slack API token, which again is only stored in your browser.</p>

  <p>This application is entirely free software, and you can view the source on GitHub:</p>

  <ul>
    <li><a href="https://github.com/alisdair/team-time-zone">Ember app</a></li>
    <li><a href="https://github.com/alisdair/team-time-zone-backend">Authentication server</a></li>
  </ul>

  <h2>Who runs this service?</h2>

  <p>Me! <a href="http://alisdair.mcdiarmid.org/">Alisdair McDiarmid</a>.</p>

  <p><strong>Not created by, affiliated with, or supported by Slack Technologies, Inc</strong>.</p>
</div>
