<div class="text-content">
  <h1 class="text-danger">Error!</h1>

  <p>Whoops, something went wrong. Sorry about that!</p>

  {{#if message}}
  <h2>Message</h2>

  <div>
    <code>{{message}}</code>
  </div>
  {{/if}}

  <p>If this happens again, please <a href="https://twitter.com/intent/tweet?screen_name=alisdair">let me know via Twitter</a> and I'll look into it.</p>
</div>
