<div class="cta">
  <div class="loading-spinner">
    <div class="loading-spinner__text">Loading, please wait</div>
    <div class="loading-spinner__square"></div>
    <div class="loading-spinner__square"></div>
    <div class="loading-spinner__square"></div>
    <div class="loading-spinner__square"></div>
  </div>
</div>
