<div class="text-content text-content--cta">
  <p>To view timezones for your team, you need to link the app with Slack.</p>

  <button {{action 'login'}} class="button button--success button--cta">Authenticate with Slack</button>
</div>

<div class="text-content">
  <h2>What do you do with my data?</h2>

  <p>Your privacy is important to us. We don't want to have access to your data.</p>

  <p>We load your data from Slack directly into this app, in your browser. The only data that goes via our server is your Slack API token, which again is only stored in your browser.</p>

  <p><strong>Not created by, affiliated with, or supported by Slack Technologies, Inc</strong>.</p>
</div>
