<div class="cta">
  <p>To view timezones for your team, you need to link the app with Slack.</p>

  <button {{action 'login'}} class="button button--success button--cta">Authenticate with Slack</button>

  <p><strong>Not created by, affiliated with, or supported by Slack Technologies, Inc</strong>.</p>
</div>
